@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
}

:root{
    --primary-color: #007bff;
    --secondary-color: #e4e4e4;
    --background-dark-color: #10121A;
    --background-dark-grey: #191D2B;
    --border-color: #2e344e;
    --background-light-color: rgba(199, 235, 255, 0.336);
    --background-light-color-2: rgba(255, 255, 255, 0.247);
    --white-color: #fff;
    --font-light-color: #a4acc4;
    --font-dark-color: #313131;
    --font-dark-color-2: #151515;
    --sidebar-dark-color: #191D2B;
}

body{
    height: 100%;
    width: 100%;
}

.container{
    display: grid;
    background: transparent;
    grid-template-rows: 1fr 4fr; 
    grid-template-columns: 1fr 4fr;
    grid-template-areas:"aside header"
                        "aside main";
}

.container > aside{
    grid-area: aside;
    background-color: var(--sidebar-dark-color);
    color: var(--font-dark-color);
    height: 100vh;
    display: grid;
    grid-template: 1fr 3fr 1fr / 1fr;
    grid-template-areas:"header"
                        "nav" 
                        "footer";
}

.container > aside > header{
    grid-area: header;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container > aside > header > a{
    display: flex;
    color: var(--font-light-color);
    text-decoration: none;
    padding: 1rem;
}

.container > aside > header > a > h1{
    color: var(--white-color);
    font-size: 1.5rem;
    font-weight: 100;
    padding-left: 0.5rem;
}

.container > aside > header > div > img{
    padding-right: 1rem;
}

.container > aside > * > ul > li{
    list-style: none;
    padding: 1rem;
    padding-left: 3rem;
    color: var(--white-color);
    transition: 1s;
    margin: 0 0.1rem;
}

.container > aside > * > ul > li:hover{
    background-color: var(--background-light-color-2);
    transition: 0.2s;
    cursor: pointer;
    transition: 1s;
    margin: 0 0.2rem;
}

.container > aside > * > ul > li:has( ~ li:hover),
.container > aside > * > ul > li:hover ~ * {
    background-color: var(--background-light-color-2);
    opacity: 0.1;
    filter: blur(0.3px);
    transition: 1s;
    margin: 0 0.8rem;
}

.container > aside > * > ul > li:has( + li:hover),
.container > aside > * > ul > li:hover + * {
    background-color: var(--background-light-color-2);
    opacity: 0.5;
    transition: 1s;
    margin: 0 0.4rem;
}

.container > aside > * > ul > li:has( + li +li:hover),
.container > aside > * > ul > li:hover + * + * {
    background-color: var(--background-light-color-2);
    opacity: 0.2;
    transition: 1s;
    margin: 0 0.6rem;
}

.container > aside > * > ul > li > a{
    color: var(--font-light-color);
    text-decoration: none;
}

.container > aside > footer{
    grid-area: footer;
    background: transparent;
    padding-bottom: 1rem;
}

.container >  header{
    grid-area: header;
    background-color: var(--background-light-color-2);
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
}

.container > main{
    grid-area: main;
    background-color: var(--background-light-color);
}

.container > header{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.container > header :is(.search-box, .user-box){
    display: flex;
    height: 50%;
    width: 50%;
    justify-content: center;
    align-items: center;
}

.container > header .info-box{
    display: flex;
    height: 50%;
    width: 100%;
    padding: 0 5rem;
    justify-content: space-between;
    align-items: center;
}

.container > header > .user-box{
    justify-content: space-evenly;
}

.container > header > .user-box > button{
    background-color: var(--background-light-color);
    border: none;
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: 0.5s;
    height: 2.5rem;
    align-items: center;
    border-radius: 24px;
    cursor: pointer;
    display: inline-flex;
    font-weight: 500;
    height: 48px;
    justify-content: center;
    padding: 2px 24px;
}

.container > header > .search-box > button{
    background-color: var(--background-light-color);
    border: none;
    padding: 0.5rem;
    margin: 0.5rem;
    cursor: pointer;
    transition: 0.5s;
    height: 2.5rem;
    border-radius: 50%;
}

.container > header > .search-box > input{
    background-color: var(--sidebar-dark-color);
    width: 80%;
    border: none;
    padding: 0.5rem 2rem;
    margin: 0.5rem;
    border-radius: 0.5rem;
    transition: 0.5s;
    height: 2.5rem;;
    font-size: 1rem;
}

.container > header > .search-box > input:focus{
    background-color: var(--white-color);
}

.container > header > .search-box > input:not(:focus){
    color: var(--white-color);
}

.container > header > .info-box > .user-info{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 30%;
}

.container > header > .info-box > .user-info > .info > h3{
    font-size: 15px;
}

.container > header > .info-box > .user-info > .info > p{
    font-size: larger;
    font-weight: 400;
}

.container > header > .info-box > .actions{
    width: 35%;
    display: flex;
    justify-content: space-evenly;
}

.container > header > .info-box button{
    align-items: center;
    appearance: none;
    background-color: #fff;
    border-radius: 24px;
    border-style: none;
    color: #3c4043;
    cursor: pointer;
    display: inline-flex;
    fill: currentcolor;
    font-family: "Google Sans",Roboto,Arial,sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 48px;
    justify-content: center;
    letter-spacing: .25px;
    line-height: normal;
    max-width: 100%;
    overflow: visible;
    padding: 2px 24px;
    position: relative;
    text-align: center;
    text-transform: none;
    transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: auto;
    will-change: transform,opacity;
    z-index: 0;
}

.container > header > .info-box button:hover {
  background: var(--background-light-color);
  color: #000000;
}

.container > header > .info-box button:focus {
  outline: none;
  border: 2px solid var(--sidebar-dark-color);
}

